@font-face {
    font-family: 'Intro';
    font-style: normal;
    font-weight: 400;
    src: local('Intro'),
    url(assets/Intro-Free/TTF/IntroDemo-BlackCAPS.ttf),
    url(assets/Intro-Free/OTF/IntroDemo-BlackCAPS.otf);

}
.main-container {
    width: 1200px;
    margin: 0 auto;

}
.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 100px;

}
.logo {
    display: flex;

}
.title {
    font-family: 'Intro', serif;
    font-size: 30px;
    line-height: 120%;

}
.logo__title {
    margin-left: 20px;

}
.button {
    width: 135px;
    height: 38px;
    background: #5222D0;
    border-radius: 100px;
    color: white;

}
.button__text {
    font-family: Intro ;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 13px;

}
.button_icon::after {
    content: url(/assets/icoт.png);
    padding-left: 5px;

}
.main-title {
    font-size: 60px;
}
.possibilites__items {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: 2;

}
.possibilites__card {
    width: 440px;
    height: 550px;

}
.possibilites__text {
    font-family: 'Roboto Slab', serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%; 

}
.possibilites__description {
width: 365px;

}

.possibilites__form {
    width: 365px;
    min-height: 233px;
    background: #EC615B;
    text-align: start;

}
.title_form {
    text-align: center;
    margin-top: 25px;
    color:white;

}
.form__email-field {
    width: 323px;
    height: 50px;
    margin-left: 18px;

}
.button__form {
    margin-top: 23px;
    margin-left: 18px;
    margin-bottom: 55px;

}
.menu {
    display: flex;
    justify-content: space-between;
    width: 540px;
    list-style-type: none;

}
.menu__footer {
    margin-top: 85px;
    margin-bottom: 80px;
    margin-left: -40px;

}
.menu__element {
text-decoration: none;
color: black;

}